.card-entry-container{
    padding: 10px;
}

.title{
    font-size: 18px;
    letter-spacing: 0px;
    color: #424242;
}

.detail-container{
    flex-grow: 1;
    overflow: hidden;
}

.option_txt{
    font-size: 20px;
    letter-spacing: 0px;
color: #424242;
opacity: 1;
}