.bg_blue_1{
    background-color: #4BABFF;
}

.bg_blue_2{
    background-color: #4B7BFF;
}

.bg_blue_3{
    background-color: #4B4BFF;
}

.bg_blue_4{
    background-color: #6E4BFF;
}

.bg_white{
    background-color: white;;
}

.color_blue_2{
    color: #4B7BFF !important;
}

.bg_grey{
    background-color: #F5F5F5 !important;
}

.color_red_1{
    color: #CC0000;
}

.color_white{
    color: white;
}